/* Code tidied up by ScrapBook */
.widget_eu_cookie_law_widget.widget_eu_cookie_law_widget { border: medium none; bottom: 1em; display: none; left: 1em; margin: 0px; padding: 0px; position: fixed; right: 1em; width: auto; z-index: 50001; }
#eu-cookie-law { background-color: rgb(255, 255, 255); border: 1px solid rgb(222, 222, 222); color: rgb(46, 68, 103); font-size: 12px; line-height: 1.5; overflow: hidden; padding: 6px 6px 6px 15px; position: relative; }
#eu-cookie-law a, #eu-cookie-law a:active, #eu-cookie-law a:visited { color: inherit; cursor: inherit; text-decoration: underline; }
#eu-cookie-law a:hover { cursor: pointer; text-decoration: none; }
#eu-cookie-law input, #eu-cookie-law input:hover, #eu-cookie-law input:focus { background: rgb(243, 243, 243) none repeat scroll 0% 0%; border: 1px solid rgb(222, 222, 222); border-radius: 3px; color: rgb(46, 68, 83); cursor: pointer; display: inline; float: right; font-family: inherit; font-size: 14px; font-weight: inherit; line-height: inherit; margin: 0px 0px 0px 5%; padding: 8px 12px; position: static; text-transform: none; }
@media (max-width: 600px) {
  #eu-cookie-law { padding-bottom: 55px; }
  #eu-cookie-law input.accept { bottom: 8px; position: absolute; right: 8px; }
}
#jp-post-flair { padding-top: 0.5em; }
div.sharedaddy, #content div.sharedaddy, #main div.sharedaddy { clear: both; }
div.sharedaddy h3.sd-title { margin: 0px 0px 1em; display: inline-block; line-height: 1.2; font-size: 9pt; font-weight: 700; }
div.sharedaddy h3.sd-title::before { content: ""; display: block; width: 100%; min-width: 30px; border-top: 1px solid rgb(220, 220, 222); margin-bottom: 1em; }
div.jetpack-likes-widget-wrapper { width: 100%; min-height: 50px; position: relative; }
div.jetpack-likes-widget-wrapper .sd-link-color { font-size: 12px; }
#likes-other-gravatars { display: none; position: absolute; padding: 10px 10px 12px; background-color: rgb(46, 68, 83); border-width: 0px; box-shadow: 0px 0px 10px rgba(46, 68, 83, 0.6); min-width: 130px; z-index: 1000; }
#likes-other-gravatars * { line-height: normal; }
#likes-other-gravatars .likes-text { color: rgb(255, 255, 255); font-size: 12px; padding-bottom: 8px; }
#likes-other-gravatars ul, #likes-other-gravatars li { margin: 0px; padding: 0px; text-indent: 0px; list-style-type: none; }
#likes-other-gravatars ul.wpl-avatars { overflow: auto; display: block; max-height: 190px; }
.post-likes-widget-placeholder, .comment-likes-widget-placeholder { margin: 0px; border-width: 0px; position: relative; }
.post-likes-widget-placeholder .button { display: none; }
.post-likes-widget-placeholder .loading, .comment-likes-widget-placeholder .loading { color: rgb(153, 153, 153); font-size: 12px; }
div.sharedaddy.sd-like-enabled .sd-like h3 { display: none; }
@media print {
  .jetpack-likes-widget-wrapper { display: none; }
}
:where(.wp-block-button__link) { border-radius: 9999px; box-shadow: none; padding: calc(0.667em + 2px) calc(1.333em + 2px); text-decoration: none; }
@media (min-width: 782px) {
}
@media (max-width: 781px) {
}
@media (min-width: 782px) {
}
:where(.wp-block-columns.has-background) { padding: 1.25em 2.375em; }
@supports (position:sticky) {
  .wp-block-cover-image::after, .wp-block-cover::after { content: none; }
}
@supports (-webkit-overflow-scrolling:touch) {
  .wp-block-cover-image.has-parallax, .wp-block-cover.has-parallax, .wp-block-cover__image-background.has-parallax, video.wp-block-cover__video-background.has-parallax { background-attachment: scroll; }
}
@media not all {
}
:where(.wp-block-cover-image:not(.has-text-color)), :where(.wp-block-cover:not(.has-text-color)) { color: rgb(255, 255, 255); }
:where(.wp-block-cover-image.is-light:not(.has-text-color)), :where(.wp-block-cover.is-light:not(.has-text-color)) { color: rgb(0, 0, 0); }
:where(.wp-block-file__button) { border-radius: 2em; display: inline-block; padding: 0.5em 1em; }
:where(.wp-block-file__button):is(a):active, :where(.wp-block-file__button):is(a):focus, :where(.wp-block-file__button):is(a):hover, :where(.wp-block-file__button):is(a):visited { box-shadow: none; color: rgb(255, 255, 255); opacity: 0.85; text-decoration: none; }
@media (min-width: 600px) {
}
@media (min-width: 600px) {
}
@supports ((-webkit-mask-image:none) or (mask-image:none)) or (-webkit-mask-image:none) {
  .wp-block-image.is-style-circle-mask img { border-radius: 0px; mask-image: url("data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>"); mask-mode: alpha; mask-position: center center; mask-repeat: no-repeat; mask-size: contain; }
}
@media (min-width: 600px) {
}
ol, ul { box-sizing: border-box; }
@media (max-width: 600px) {
}
@media (min-width: 782px) {
}
@media (min-width: 782px) {
}
@media (min-width: 782px) {
}
@keyframes overlay-menu__fade-in-animation {
0% { opacity: 0; transform: translateY(0.5em); }
100% { opacity: 1; transform: translateY(0px); }
}
@media not all {
}
@media (min-width: 600px) {
}
@media (min-width: 600px) {
}
@media (min-width: 782px) {
}
:where(p.has-text-color:not(.has-link-color)) a { color: inherit; }
@media (min-width: 600px) {
}
@media (min-width: 600px) {
}
:where(.wp-block-search__button) { border: 1px solid rgb(204, 204, 204); padding: 0.375em 0.625em; }
@media not all {
}
:where(pre.wp-block-verse) { font-family: inherit; }
@supports (position:sticky) {
  .wp-block-video [poster] { object-fit: cover; }
}
:root { --wp--preset--font-size--normal: 16px; --wp--preset--font-size--huge: 42px; }
.aligncenter { clear: both; }
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); overflow-wrap: normal ! important; border: 0px none; clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; }
.screen-reader-text:focus { clip: auto ! important; background-color: rgb(221, 221, 221); clip-path: none; color: rgb(68, 68, 68); display: block; font-size: 1em; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }
html :where(.has-border-color) { border-style: solid; }
html :where(img[class*="wp-image-"]) { height: auto; max-width: 100%; }
html :where(.is-position-sticky) { --wp-admin--admin-bar--position-offset: var(--wp-admin--admin-bar--height,0px); }
@media screen and (max-width: 600px) {
  html :where(.is-position-sticky) { --wp-admin--admin-bar--position-offset: 0px; }
}
:where(.wp-block-group.has-background) { padding: 1.25em 2.375em; }
