/* Effective stylesheet produced by snapshot save */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
html { font-size: 100%; height: 101%; }
body { font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 10px; line-height: normal; margin: 0px; padding: 12px 0px; overflow-wrap: break-word; background: rgb(204, 227, 243) url("bg_blue.gif") repeat-x scroll 0% 0%; }
h1 { font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; margin-right: 200px; margin-top: 15px; font-weight: bold; font-size: 2em; }
h2 { font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-weight: normal; font-size: 2em; margin: 0.8em 0px 0.2em; }
h3 { font-family: Arial,Helvetica,sans-serif; font-weight: bold; text-transform: uppercase; border-bottom: 1px solid transparent; margin-bottom: 3px; padding-bottom: 2px; font-size: 1.05em; margin-top: 20px; }
p { line-height: 1.3em; font-size: 1.1em; margin-bottom: 1.5em; }
img { border-width: 0px; }
hr { border-width: 1px 0px 0px; border-style: solid; border-color: transparent; border-image: initial; height: 1px; margin: 5px 0px; display: block; clear: both; }
hr.divider { display: none; }
p.jumpbox-return { margin-top: 1em; }
b, strong { font-weight: bold; }
ul { list-style-type: disc; }
li { display: list-item; }
ul ul, ol ul { list-style-type: circle; }
#wrap { margin: 0px auto; max-width: 100%; min-width: 625px; padding: 0px 15px; }
@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
  #wrap { margin: 0px 12px; }
}
#page-body { margin: 4px 0px; clear: both; }
#page-footer { clear: both; }
#page-footer h3 { margin-top: 20px; }
.logo { float: left; width: auto; padding: 10px 13px 0px 10px; }
.logo:hover { text-decoration: none; }
#site-description { float: left; width: 65%; }
#site-description h1 { margin-right: 0px; }
.headerbar { background: transparent none no-repeat scroll right top; padding: 5px; min-height: 75px; }
.headerbg { background: transparent none repeat-x scroll 0px 0px; }
.navbar { padding: 3px 10px; background: transparent url("tabsbg.gif") repeat-x scroll 0% 0%; }
.custombg { background: transparent none repeat-x scroll 0px 0px; margin-bottom: 10px; padding: 6px 5px 5px; clear: both; border-radius: 7px; border: 1px solid; box-shadow: 1px 1px 8px rgb(85, 85, 85); }
.customborder { border: 1px solid rgb(86, 104, 119); }
.post { padding: 5px 10px; background-repeat: no-repeat; background-position: 100% 0px; position: relative; border-bottom: 1px solid rgb(204, 227, 243); }
.navbar ul.linklist { padding: 2px 0px; }
ul.linklist { display: block; margin: 0px; }
ul.linklist > li { float: left; font-size: 1.1em; line-height: 2.2em; list-style-type: none; margin-right: 7px; padding-top: 1px; width: auto; }
ul.linklist > li.rightside, p.rightside, a.rightside { float: right; margin-right: 0px; margin-left: 7px; text-align: right; }
ul.navlinks { border-top: 1px solid transparent; }
ul.linklist li.responsive-menu { position: relative; margin: 0px 5px; }
ul.linklist li.responsive-menu a.responsive-menu-link { display: inline-block; margin: 0px 5px; font-size: 16px; position: relative; width: 16px; line-height: 20px; text-decoration: none; }
ul.linklist li.responsive-menu a.responsive-menu-link::before { content: ""; position: absolute; left: 0px; top: 7px; height: 0.125em; width: 14px; border-bottom: 0.125em solid transparent; border-top: 0.375em double transparent; }
ul.linklist .dropdown { top: 22px; }
ul.linklist.bulletin > li::before { display: inline-block; content: "•"; font-size: inherit; line-height: inherit; padding-right: 4px; }
ul.linklist.bulletin > li:first-child::before, ul.linklist.bulletin > li.rightside:last-child::before { content: none; }
ul.linklist.bulletin > li.no-bulletin::before { content: none; }
.responsive-menu::before { display: none ! important; }
.header-avatar span::after { content: "▼"; display: inline-block; font-size: 9px; float: right; padding-left: 2px; opacity: 0.7; }
.dropdown-container { position: relative; }
.dropdown-container-right { float: right; }
.dropdown { position: absolute; left: 0px; top: 1.2em; z-index: 2; border: 1px solid transparent; border-radius: 5px; padding: 9px 0px 0px; margin-right: -500px; }
.dropdown-up .dropdown { top: auto; bottom: 1.2em; padding: 0px 0px 9px; }
.dropdown-left .dropdown, .nojs .rightside .dropdown { left: auto; right: 0px; margin-left: -500px; margin-right: 0px; }
.dropdown-button-control .dropdown { top: 24px; }
.dropdown-button-control.dropdown-up .dropdown { top: auto; bottom: 24px; }
.dropdown .pointer, .dropdown .pointer-inner { position: absolute; width: 0px; height: 0px; border-width: 0px 10px 10px; border-bottom: 10px solid transparent; border-left: 10px dashed transparent; border-right: 10px dashed transparent; transform: rotate(360deg); display: block; }
.dropdown-up .pointer, .dropdown-up .pointer-inner { border-bottom-width: 0px; border-top: 10px solid transparent; }
.dropdown .pointer { right: auto; left: 10px; top: 0px; z-index: 3; }
.dropdown-up .pointer { bottom: 0px; top: auto; }
.dropdown-left .dropdown .pointer, .nojs .rightside .dropdown .pointer { left: auto; right: 10px; }
.dropdown .pointer-inner { top: auto; bottom: -11px; left: -10px; }
.dropdown-up .pointer-inner { bottom: auto; top: -11px; }
.dropdown .dropdown-contents { z-index: 2; border: 1px solid transparent; border-radius: 5px; padding: 5px; position: relative; min-width: 40px; max-height: 300px; box-sizing: border-box; }
.dropdown li { border-top: 1px dotted transparent; list-style: outside none none; margin: 0px; padding-top: 4px; padding-bottom: 4px; white-space: nowrap; text-align: left; float: none ! important; line-height: normal ! important; font-size: 1em ! important; }
.dropdown-contents > li { padding-right: 15px; }
.dropdown li:first-child, .dropdown li.separator + li, .dropdown li li { border-top: 0px none; }
.dropdown li.separator { border-top: 1px solid transparent; margin: 4px 0px; padding: 0px; }
.dropdown li.separator:first-child, .dropdown li.separator:last-child { display: none ! important; }
.breadcrumbs .crumb { float: left; font-weight: bold; overflow-wrap: normal; }
.breadcrumbs .crumb::before { content: "‹"; font-weight: bold; padding: 0px 0.5em; }
.breadcrumbs .crumb:first-child::before { content: none; }
.breadcrumbs .crumb a { display: inline-block; white-space: nowrap; text-overflow: ellipsis; vertical-align: bottom; overflow: hidden; }
.left-box { float: left; width: auto; text-align: left; max-width: 100%; }
.action-bar { font-size: 11px; margin: 4px 0px; }
.pagination { float: right; font-size: 11px; margin-top: 3px; text-align: right; width: auto; }
.action-bar.bottom .pagination { margin-top: 0px; }
.phpbb_alert { border: 1px solid transparent; display: none; left: 0px; padding: 0px 25px 20px; position: fixed; right: 0px; top: 150px; z-index: 50; width: 620px; margin: 0px auto; }
@media only screen and (max-height: 500px), only screen and (max-device-width: 500px) {
  .phpbb_alert { top: 25px; }
}
.phpbb_alert .alert_close { display: block; float: right; width: 16px; height: 16px; overflow: hidden; background: transparent none no-repeat scroll 0px 0px; margin-top: -7px; margin-right: -31px; text-decoration: none ! important; }
.phpbb_alert .alert_close:hover { background-position: 0px -16px; }
.phpbb_alert p { margin: 8px 0px; padding-bottom: 8px; }
#darkenwrapper { display: none; position: relative; z-index: 44; }
#darken { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; opacity: 0.5; z-index: 45; }
#loading_indicator { background: transparent none no-repeat scroll center center; border-radius: 5px; display: none; opacity: 0.8; margin-top: -50px; margin-left: -50px; height: 50px; width: 50px; position: fixed; left: 50%; top: 50%; z-index: 51; }
.copyright { padding: 5px; text-align: center; }
div.rules { margin: 10px 0px; font-size: 1.1em; padding: 5px 10px; border-radius: 7px; }
p.post-notice::before { content: ""; display: block; position: absolute; top: 0px; bottom: 0px; left: 0px; width: 28px; background: transparent none no-repeat scroll 50% 50%; pointer-events: none; }
#jumpbox { margin: 5px 0px; }
.stat-block { clear: both; }
#top { position: absolute; top: -20px; }
.clear { display: block; clear: both; font-size: 1px; line-height: 1px; background: transparent none repeat scroll 0% 0%; }
.inner::after, ul.linklist::after, .action-bar::after, .notification_text::after, .tabs-container::after, #tabs > ul::after, #minitabs > ul::after, .postprofile .avatar-container::after { clear: both; content: ""; display: block; }
.hidden { display: none; }
.smilies { vertical-align: text-bottom; }
#quick-links { margin: 0px 7px 0px 0px; }
#quick-links a.responsive-menu-link { display: block; font-size: inherit; line-height: inherit; margin: 0px; width: auto; }
#quick-links a.responsive-menu-link::before { font-size: 16px; line-height: 16.5px; }
