/* Effective stylesheet produced by snapshot save */
fieldset { border-width: 0px; font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 1.1em; }
fieldset.display-options { text-align: center; margin: 3px 0px 5px; }
