/* Code tidied up by ScrapBook */
.DailyHeader { background-size: cover; height: 100vw; max-height: 640px; position: relative; }
.DailyHeader-image { filter: brightness(0.95); height: 100vw; max-height: 640px; width: 100%; }
.DailyHeader-image { top: 0px; }
.DailyHeader-image img { height: 100%; object-fit: cover; position: absolute; top: 0px; width: 100%; }
.DailyHeader-image div { bottom: 0px; height: 50%; position: absolute; width: 100%; }
.DailyHeader-title { bottom: 36px; color: rgb(255, 255, 255); left: 18px; position: absolute; right: 18px; }
.DailyHeader-title { font-synthesis: style; font-weight: 600; line-height: 28px; }
.DailyHeader-imageSource { bottom: 10px; color: rgb(255, 255, 255); position: absolute; right: 10px; }
.DailyHeader-imageSource { font-size: 10px; line-height: 12px; opacity: 0.5; }
.ztext { line-height: 1.6; }
.ztext > :first-child { margin-top: 0px; }
.ztext > :last-child { margin-bottom: 0px; }
.ztext h1, .ztext h2 { clear: left; font-size: 1.2em; font-synthesis: style; font-weight: 600; line-height: 1.5; margin-bottom: 1.16667em; margin-top: 2.33333em; }
.ztext a:focus { outline: medium none; transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s; }
.ztext p { margin: 1.4em 0px; }
.DailyRichText { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.DailyRichText { margin-top: -22px; padding-bottom: 24px; }
.DailyRichText .content { color: rgb(68, 68, 68); }
.DailyRichText .content { margin: 1.4em 0px; }
.DailyRichText a:not(.view-more) { border-bottom: 1px solid grey; cursor: pointer; text-decoration: none; }
.DailyRichText .headline { display: none; }
.DailyRichText .ztext { line-height: 1.875; }
.DailyRichText p { margin: 0.65em 0px; }
.DailyRichText .RichText { padding: 0px 20px; }
.DailyRichText .RichText .question-title { margin-top: 0px; }
.DailyRichText img { border-radius: 2px; display: flex; filter: brightness(0.95); margin: 0.6em auto; max-width: 100%; }
.DailyRichText .view-more { background: rgb(3, 169, 244) none repeat scroll 0% 0%; border-radius: 22px; color: rgb(255, 255, 255); font-size: 14px; height: 44px; line-height: 18px; width: 100%; }
.DailyRichText .view-more { display: block; font-synthesis: style; font-weight: 600; line-height: 44px; text-align: center; }
.ZhihuDaily-AuthorLine { font-size: 14px; padding-top: 20px; }
.ZhihuDaily-Author, html[data-theme="dark"] .ZhihuDaily-Author { color: rgb(153, 153, 153); }
.ZhihuDaily-Author { line-height: 18px; }
.DailyRichText-withTitle .question-title { color: rgb(18, 18, 18); font-size: 20px; }
.DailyRichText-withTitle .question-title { font-synthesis: style; font-weight: 600; line-height: 1.5; margin-bottom: 0px; padding-top: 40px; }
