/* Code tidied up by ScrapBook */
div.codehilite { background-color: rgb(246, 247, 248); padding: 1em; border: 1pt dashed black; margin-bottom: 1rem; overflow: auto; }
div.codehilite pre { margin: 0px; overflow: visible; }
