/* Effective stylesheet produced by snapshot save */
@font-face {
  font-family: "1785 GLC Baskerville";
  font-style: normal;
  font-weight: normal;
  src: url("urn:download-error:https://assets.tumblr.com/fonts/1785glcbaskerville/1785_GLC_Baskerville-N-webfont.eot?1#iefix") format("embedded-opentype"), url("urn:download-error:https://assets.tumblr.com/fonts/1785glcbaskerville/1785_GLC_Baskerville-N-webfont.woff?1") format("woff"), url("urn:download-error:https://assets.tumblr.com/fonts/1785glcbaskerville/1785_GLC_Baskerville-N-webfont.ttf?1") format("truetype"), url("urn:download-error:https://assets.tumblr.com/fonts/1785glcbaskerville/1785_GLC_Baskerville-N-webfont.svg?1#1785GLCBaskervilleNormal") format("svg");
}
@font-face {
  font-family: "1785 GLC Baskerville";
  font-style: italic;
  font-weight: normal;
  src: url("urn:download-error:https://assets.tumblr.com/fonts/1785glcbaskerville/1785_GLC_Baskerville-Ita-webfont.eot?1#iefix") format("embedded-opentype"), url("urn:download-error:https://assets.tumblr.com/fonts/1785glcbaskerville/1785_GLC_Baskerville-Ita-webfont.woff?1") format("woff"), url("urn:download-error:https://assets.tumblr.com/fonts/1785glcbaskerville/1785_GLC_Baskerville-Ita-webfont.ttf?1") format("truetype"), url("urn:download-error:https://assets.tumblr.com/fonts/1785glcbaskerville/1785_GLC_Baskerville-Ita-webfont.svg?1#1785GLCBaskervilleItalic") format("svg");
}
