/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather"), local("Merriweather-Regular"), url("Merriweather-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"), url("SourceCodePro-Regular.ttf") format("truetype");
}
