/* Effective stylesheet produced by snapshot save */
@media (min-width: 861px) {
  .qxyz-GoziFY_iGTnVF3vWEh.qxyz-EY_r1E2k3k-r402r2kC .qxyz-HXXXDHugHo7UG4zYGR:not(.qxyz-H3TYCIDYGTngFnDY) { flex-shrink: 0; margin-left: 64px; width: 400px; overflow: hidden; border-radius: 4px; z-index: 1; }
}
@media (min-width: 1281px) {
  .qxyz-GoziFY_iGTnVF3vWEh.qxyz-EY_r1E2k3k-r402r2kC .qxyz-HXXXDHugHo7UG4zYGR:not(.qxyz-H3TYCIDYGTngFnDY) { width: 490px; }
}
