/* Effective stylesheet produced by snapshot save */
@keyframes Spinner__spinner-animation-ltr--11-1-7 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(1turn); }
}
@keyframes Spinner__spinner-animation-rtl--11-1-7 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-1turn); }
}
[data-openweb-style-wrapper] .Spinner__spinner--11-1-7, [data-openweb-style-wrapper] .Spinner__spinner--11-1-7::after { height: 1em; width: 1em; }
[data-openweb-style-wrapper] [data-spot-im-direction] .Spinner__spinner--11-1-7, [data-openweb-style-wrapper] [data-spot-im-direction] .Spinner__spinner--11-1-7::after { border-radius: 50%; }
@keyframes Modal__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes Modal__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes Modal__modal-entrance--11-1-7 {
  0% { opacity: 0; transform: translateY(100px); }
  100% { opacity: 1; transform: translateY(0px); }
}
@keyframes Modal__backdrop-entrance--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes Modal__modal-exit--11-1-7 {
  0% { opacity: 1; transform: translateY(0px); }
  100% { opacity: 0; transform: translateY(100px); }
}
@keyframes Modal__backdrop-exit--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
[data-openweb-style-wrapper] [data-spot-im-direction="ltr"] .Modal__bottomActions--11-1-7 > button:nth-child(2) { margin-left: 20px; }
[data-openweb-style-wrapper] [data-spot-im-direction="rtl"] .Modal__bottomActions--11-1-7 > button:nth-child(2) { margin-right: 20px; }
@keyframes Typography__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes Typography__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes Button__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes Button__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
[data-openweb-style-wrapper] .Button__primary--11-1-7::after { bottom: 0px; content: ""; opacity: 0; position: absolute; top: 0px; }
[data-openweb-style-wrapper] [data-spot-im-direction] .Button__primary--11-1-7::after { background: rgba(0, 0, 0, 0.15) none repeat scroll 0% 0%; }
[data-openweb-style-wrapper] [data-spot-im-direction="ltr"] .Button__primary--11-1-7::after, [data-openweb-style-wrapper] [data-spot-im-direction="rtl"] .Button__primary--11-1-7::after { left: 0px; right: 0px; }
[data-openweb-style-wrapper] .Button__primary--11-1-7:hover:enabled:not(:active)::after { opacity: 1; }
@keyframes CloseButton__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes CloseButton__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes ImageLightbox__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes ImageLightbox__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes ImageLightbox__backdrop-fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 0.74; }
}
@keyframes ImageLightbox__backdrop-fade-out--11-1-7 {
  0% { opacity: 0.74; }
  100% { opacity: 0; }
}
@keyframes WholePageModal__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes WholePageModal__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes BackButton__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes BackButton__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
[data-openweb-style-wrapper] .TagButton__tagButton--11-1-7[type="button"]:hover:enabled:not(:active)::after { opacity: 0.01; }
[data-openweb-style-wrapper] [data-spot-im-direction] .TagButton__tagButton--11-1-7[type="button"]:hover:enabled:not(:active)::after { background-color: var(--spotim-brand-color); }
@keyframes Menu__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes Menu__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes Menu__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes Menu__slide-up--11-1-7 {
  0% { bottom: -50vh; }
  100% { bottom: 0px; }
}
@keyframes Menu__slide-up--11-1-7 {
  0% { bottom: -50vh; }
  100% { bottom: 0px; }
}
[data-openweb-style-wrapper] .Menu__tooltip-arrow--11-1-7::after { content: ""; display: block; height: 0px; position: absolute; width: 0px; }
[data-openweb-style-wrapper] [data-spot-im-direction] .Menu__tooltip-arrow--11-1-7::after { border-style: solid; margin: auto; }
[data-openweb-style-wrapper] [data-spot-im-direction] .Menu__tooltip-arrow--11-1-7[data-placement*="bottom"]::after { border-bottom-color: var(--spotim-color-scheme-l6); border-left-color: transparent; border-right-color: transparent; border-top-color: transparent; border-width: 7px; }
[data-openweb-style-wrapper] [data-spot-im-direction] .Menu__tooltip-arrow--11-1-7[data-placement*="top"]::after { border-bottom-color: transparent; border-left-color: transparent; border-right-color: transparent; border-top-color: var(--spotim-color-scheme-l6); border-width: 7px; }
[data-openweb-style-wrapper] .Menu__tooltip-arrow--11-1-7[data-placement*="right"]::after { top: 0px; }
[data-openweb-style-wrapper] [data-spot-im-direction] .Menu__tooltip-arrow--11-1-7[data-placement*="right"]::after { border-width: 7px; }
[data-openweb-style-wrapper] [data-spot-im-direction="ltr"] .Menu__tooltip-arrow--11-1-7[data-placement*="right"]::after { border-bottom-color: transparent; border-left-color: transparent; border-right-color: var(--spotim-color-scheme-l6); border-top-color: transparent; left: 6px; }
[data-openweb-style-wrapper] [data-spot-im-direction="rtl"] .Menu__tooltip-arrow--11-1-7[data-placement*="right"]::after { border-bottom-color: transparent; border-left-color: var(--spotim-color-scheme-l6); border-right-color: transparent; border-top-color: transparent; right: 6px; }
[data-openweb-style-wrapper] .Menu__tooltip-arrow--11-1-7[data-placement*="left"]::after { top: 0px; }
[data-openweb-style-wrapper] [data-spot-im-direction] .Menu__tooltip-arrow--11-1-7[data-placement*="left"]::after { border-width: 7px; }
[data-openweb-style-wrapper] [data-spot-im-direction="ltr"] .Menu__tooltip-arrow--11-1-7[data-placement*="left"]::after { border-bottom-color: transparent; border-left-color: var(--spotim-color-scheme-l6); border-right-color: transparent; border-top-color: transparent; left: 3px; }
[data-openweb-style-wrapper] [data-spot-im-direction="rtl"] .Menu__tooltip-arrow--11-1-7[data-placement*="left"]::after { border-bottom-color: transparent; border-left-color: transparent; border-right-color: var(--spotim-color-scheme-l6); border-top-color: transparent; right: 3px; }
@keyframes MenuBody__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes MenuBody__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes MenuItem__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes MenuItem__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@media only screen and (max-width: 767px) and (min-width: 0px) {
  [data-openweb-style-wrapper] [data-spot-im-direction] .MenuItem__itemWrapper--11-1-7:not(:last-child) { border-bottom: 1px solid var(--spotim-border-color); }
}
[data-openweb-style-wrapper] .TextareaNew__textarea--11-1-7::placeholder { color: var(--spotim-color-scheme-l5); }
@keyframes RadioButton__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes RadioButton__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
[data-openweb-style-wrapper] input.RadioButton__radioInput--11-1-7:checked::before { content: ""; height: 24px; width: 24px; }
[data-openweb-style-wrapper] [data-spot-im-direction] input.RadioButton__radioInput--11-1-7:checked::before { border: 1px solid var(--spotim-brand-color); border-radius: 50%; }
@media only screen and (max-width: 767px) and (min-width: 0px) {
  [data-openweb-style-wrapper] input.RadioButton__radioInput--11-1-7:checked::before { height: 22px; width: 22px; }
}
@keyframes TooltipBody__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes TooltipBody__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes Toast__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes Toast__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes Fade__fade-in--11-1-7 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes Fade__fade-out--11-1-7 {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
[data-openweb-style-wrapper] [data-spot-im-direction] .Checkbox__checkbox--11-1-7:focus:not(:checked):not(:disabled) ~ .Checkbox__checkboxFake--11-1-7 { box-shadow: 0px 0px 0px 2px rgb(77, 144, 254) inset; }
@media not all {
  [data-openweb-style-wrapper] [data-spot-im-direction] .Checkbox__checkbox--11-1-7:hover:not(:checked):not(:disabled) ~ .Checkbox__checkboxFake--11-1-7 { box-shadow: 0 0 0 2px var(--spotim-brand-color) inset; }
}
