/* Code tidied up by ScrapBook */
html { color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit; }
del, ins { text-decoration: none; }
li { list-style: outside none none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select {  }
body { font: 13px/1.231 arial,helvetica,clean,sans-serif; }
select, input, button, textarea, button { font: 99% arial,helvetica,clean,sans-serif; }
pre, code, kbd, samp, tt { font-family: monospace; line-height: 100%; }
html { background-color: rgb(255, 255, 255); overflow-y: scroll !important; }
body { font-size: 12px; font-family: Tahoma,Helvetica,Arial,sans-serif; color: rgb(71, 75, 81); overflow-wrap: break-word; line-height: 1.28; }
pre, textarea { overflow-wrap: normal; }
a:link, a:visited { color: rgb(54, 61, 71); text-decoration: none; }
a[href]:hover { text-decoration: underline; }
a:hover {  }
a.noOutline { outline: 0px none; }
img {  }
.concealed, .concealed a, .cloaked, .cloaked a { text-decoration: inherit !important; color: inherit !important; }
a.concealed:hover, .concealed a:hover { text-decoration: underline !important; }
.section { margin: 10px auto; }
.secondaryContent { background: rgb(250, 250, 251) url("category-23px-light.png") repeat-x scroll center top; padding: 10px; border: 1px solid rgb(206, 210, 216); }
.secondaryContent a {  }
@media (max-width: 480px) {
}
.formPopup { width: 250px; background-color: rgb(255, 255, 255); }
.formPopup .textCtrl, .formPopup .button { width: 232px; }
.formPopup .primaryControls { white-space: nowrap; overflow-wrap: normal; padding: 0px 5px; }
.formPopup .primaryControls input.textCtrl { margin-bottom: 0px; }
@media (max-width: 610px) {
}
@media (max-width: 610px) {
}
@media (max-width: 480px) {
}
.pairs dt, .pairsInline dt, .pairsRows dt, .pairsColumns dt, .pairsJustified dt { color: rgb(138, 147, 162); }
.pairsRows, .pairsColumns, .pairsJustified { line-height: 1.5; }
dl.pairsColumns, dl.pairsJustified, .pairsColumns dl, .pairsJustified dl { overflow: hidden; }
.pairsJustified dt { float: left; max-width: 100%; margin-right: 5px; }
.pairsJustified dd { float: right; text-align: right; max-width: 100%; }
.blockLinksList { font-size: 11px; padding: 2px; }
.blockLinksList a, .blockLinksList label { color: rgb(90, 98, 113); padding: 5px 10px; border-radius: 3px; display: block; outline: 0px none; }
.blockLinksList a:hover, .blockLinksList a:focus, .blockLinksList li.kbSelect a, .blockLinksList label:hover, .blockLinksList label:focus, .blockLinksList li.kbSelect label { text-decoration: none; background-color: rgb(235, 236, 239); }
.blockLinksList a:active, .blockLinksList a.selected, .blockLinksList label:active, .blockLinksList label.selected { color: rgb(32, 35, 40); background-color: rgb(206, 210, 216); }
@media (max-width: 800px) {
}
input[type="search"] { -moz-appearance: textfield; box-sizing: content-box; }
.floatLeft { float: left; }
.floatRight { float: right; }
@media (max-width: 800px) {
}
@media (min-width: 611px) and (max-width: 800px) {
}
@media (min-width: 481px) and (max-width: 610px) {
}
@media (max-width: 480px) {
}
@media (max-width: 480px) {
}
.xenForm { margin: 10px auto; max-width: 1000px; }
.xenForm .ctrlUnit > dd { width: 68%; box-sizing: border-box; padding-right: 30px; }
.xenForm .ctrlUnit > dd .textCtrl { box-sizing: border-box; width: 100%; }
.xenForm fieldset + .ctrlUnit, .xenForm .formGroup + .ctrlUnit, .xenForm .submitUnit { border-top: 1px solid rgb(235, 236, 239); }
.xenForm .ctrlUnit.submitUnit dd { line-height: 31px; padding-top: 0px; }
.ctrlUnit.submitUnit dd .explain, .ctrlUnit.submitUnit dd .text, .ctrlUnit.submitUnit dd label { line-height: 1.28; }
.xenForm .ctrlUnit {  }
.textCtrl { font-size: 13px; font-family: Tahoma,Helvetica,Arial,sans-serif; color: rgb(0, 0, 0); background-color: rgb(252, 252, 252); padding: 6px; margin-bottom: 2px; border: 1px solid rgb(212, 212, 212); border-radius: 0px; outline: 0px none; text-shadow: 0px 1px 0px rgb(255, 255, 255); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset; }
.textCtrl:focus, .textCtrl.Focus { color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); border-color: rgb(155, 155, 155); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18) inset; }
.textCtrl:-moz-placeholder { font-style: italic; color: rgb(160, 160, 160); }
.textCtrl::-moz-placeholder { font-style: italic; color: rgb(160, 160, 160); }
input.textCtrl[type="password"] { font-family: Verdana,Geneva,Arial,Helvetica,sans-serif; }
.button { font-style: normal; font-size: 12px; color: rgb(112, 112, 112); background-color: rgb(244, 244, 244); padding: 0px 13px; border: 1px solid rgb(209, 209, 209); border-radius: 3px; text-align: center; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05); text-shadow: 0px 0px 0px transparent, 0px 1px 0px rgb(255, 255, 255); outline: medium none; line-height: 30px; display: inline-block; cursor: pointer; box-sizing: border-box; -moz-appearance: none; background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, transparent 100%); height: 34px; }
.button.primary { font-weight: 700; color: rgb(65, 65, 65); border-color: rgb(194, 194, 194); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15); }
.button::-moz-focus-inner { border: medium none; }
.button:hover, .button[href]:hover, .buttonProxy:hover .button { color: rgb(65, 65, 65); text-decoration: none; background-color: rgb(250, 250, 250); }
.button:focus {  }
.button:active, .button[href]:active, .button.ToggleButton.checked, .buttonProxy:active .button { position: relative; top: 1px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.03) 100%); outline: 0px none; }
.submitUnit .button { min-width: 100px; }
.xenForm .ctrlUnit { position: relative; margin: 10px auto; }
.xenForm .ctrlUnit {  }
.xenForm .ctrlUnit::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.xenForm .ctrlUnit > dt { padding-top: 6px; padding-right: 15px; text-align: right; vertical-align: top; box-sizing: border-box; width: 32%; float: left; }
.xenForm .ctrlUnit > dt label { margin-left: 30px; }
.xenForm .ctrlUnit.submitUnit dt { height: 19px; display: block; }
.xenForm .ctrlUnit > dd { float: left; }
.ctrlUnit > dd > * > li { margin: 4px 0px 8px; padding-left: 1px; }
.ctrlUnit > dd > * > li:first-child > .textCtrl:first-child { margin-top: -3px; }
.xenForm .ctrlUnit > dd { padding-top: 4px; }
.xenForm .ctrlUnit > dd > input, .xenForm .ctrlUnit > dd > select, .xenForm .ctrlUnit > dd > textarea, .xenForm .ctrlUnit > dd > ul { margin-top: -4px; }
.xenForm .ctrlUnit.fullWidth > dd > input, .xenForm .ctrlUnit.submitUnit > dd > input, .xenForm .ctrlUnit.fullWidth > dd > select, .xenForm .ctrlUnit.submitUnit > dd > select, .xenForm .ctrlUnit.fullWidth > dd > textarea, .xenForm .ctrlUnit.submitUnit > dd > textarea, .xenForm .ctrlUnit.fullWidth > dd > ul, .xenForm .ctrlUnit.submitUnit > dd > ul { margin-top: 0px; }
@media (max-width: 480px) {
  .Responsive .xenForm .ctrlUnit > dt { float: none; width: auto; text-align: left; height: auto; }
  .Responsive .xenForm .ctrlUnit > dt label { margin-left: 0px; }
  .Responsive .xenForm .ctrlUnit.submitUnit dt { height: auto; }
  .Responsive .xenForm .ctrlUnit > dd, .Responsive .xenForm .ctrlUnit.fullWidth dd { float: none; width: auto; text-align: left; height: auto; padding-left: 30px; overflow: hidden; }
  .Responsive .xenForm .ctrlUnit > dd > input, .Responsive .xenForm .ctrlUnit > dd > select, .Responsive .xenForm .ctrlUnit > dd > textarea, .Responsive .xenForm .ctrlUnit > dd > ul { margin-top: 0px; }
}
@media (max-width: 610px) {
}
@media (max-device-width: 568px) {
  .Responsive .textCtrl { font-size: 16px; }
}
#header {  }
#header .pageWidth .pageContent {  }
#header .pageWidth .pageContent::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
#logo { display: block; float: left; line-height: 96px; height: 100px; max-width: 100%; vertical-align: middle; }
#logo span {  }
#logo a:hover { text-decoration: none; }
#logo img { vertical-align: middle; max-width: 100%; }
.footer .pageContent { font-size: 11px; color: rgb(206, 210, 216); background-color: rgb(90, 98, 113); border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow: hidden; }
.footer a, .footer a:visited { color: rgb(206, 210, 216); padding: 10px; display: block; }
.footer a:hover, .footer a:active { color: rgb(235, 236, 239); }
.footerLinks { padding-right: 5px; float: right; overflow: hidden; }
.footerLinks li { float: left; }
.footerLinks a.globalFeed { width: 14px; height: 14px; display: block; text-indent: -9999px; white-space: nowrap; background: rgba(0, 0, 0, 0) url("xenforo-ui-sprite.png") no-repeat scroll -112px -16px; padding: 0px; margin: 5px; }
.footerLegal .pageContent { font-size: 11px; overflow: hidden; padding: 5px 5px 15px; text-align: center; }
#copyright { color: rgb(89, 97, 112); float: left; }
#legal { float: right; }
#legal li { float: left; margin-left: 10px; }
@media (max-width: 610px) {
  .Responsive .footerLinks a.globalFeed, .Responsive .footerLinks a.topLink, .Responsive .footerLinks a.homeLink { display: none; }
}
@media (max-width: 480px) {
  .Responsive #copyright span { display: none; }
}
.breadBoxTop, .breadBoxBottom { padding: 10px 0px; overflow: hidden; clear: both; box-sizing: border-box; }
.breadBoxTop {  }
.breadcrumb { font-size: 12px; background-color: rgb(250, 250, 251); border: 1px solid rgb(206, 210, 216); border-radius: 4px; overflow: hidden; max-width: 100%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05); height: 34px; }
.breadcrumb .crust { display: block; float: left; position: relative; max-width: 50%; }
.breadcrumb .crust a.crumb { cursor: pointer; text-decoration: none; background-color: rgb(250, 250, 251); padding: 0px 10px 0px 22px; margin-bottom: -1px; border-bottom: 1px solid rgb(206, 210, 216); outline: 0px none; display: block; line-height: 34px; }
.breadcrumb .crust a.crumb > span { display: block; text-overflow: ellipsis; overflow-wrap: normal; white-space: nowrap; overflow: hidden; max-width: 100%; }
.breadcrumb .crust:first-child a.crumb, .breadcrumb .crust.firstVisibleCrumb a.crumb { padding-left: 10px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.breadcrumb .crust:last-child a.crumb { font-weight: 700; }
.breadcrumb .crust .arrow { border-width: 17px 1px 17px 17px; border-style: solid none solid solid; border-color: transparent rgb(0, 0, 0) transparent rgb(206, 210, 216); -moz-border-top-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; -moz-border-right-colors: rgb(206, 210, 216); display: block; position: absolute; right: -17px; top: 0px; z-index: 50; transform: rotateY(50deg) translate(-4px, 0px); width: 0px; height: 0px; }
.breadcrumb .crust .arrow span { border-width: 18px 1px 18px 18px; border-style: solid none solid solid; border-color: transparent rgb(0, 0, 0) transparent rgb(250, 250, 251); -moz-border-top-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; -moz-border-right-colors: rgb(250, 250, 251); display: block; position: absolute; left: -19px; top: -18px; z-index: 51; white-space: nowrap; overflow: hidden; text-indent: 9999px; transform: rotateY(17deg); width: 0px; height: 0px; }
.breadcrumb .crust:hover a.crumb { background-color: rgb(235, 236, 239); }
.breadcrumb .crust:hover .arrow span { border-left-color: rgb(235, 236, 239); }
.breadcrumb .crust .arrow {  }
@media (max-width: 480px) {
}
#navigation .pageContent { height: 82px; position: relative; }
.navTabs { font-size: 12px; background-color: rgb(126, 138, 153); padding: 0px 5px; border-bottom: 1px solid rgb(108, 121, 137); border-top-left-radius: 3px; border-top-right-radius: 3px; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.07) 0%, transparent 100%); box-shadow: 0px 1px rgba(255, 255, 255, 0.1) inset; height: 40px; }
.navTabs .publicTabs { float: left; }
.navTabs .navTab { float: left; white-space: nowrap; overflow-wrap: normal; }
.navTabs .navLink, .navTabs .SplitCtrl { display: block; float: left; vertical-align: text-bottom; text-align: center; outline: 0px none; height: 40px; line-height: 40px; }
.navTabs .publicTabs .navLink { padding: 0px 15px; }
.navTabs .navLink:hover { text-decoration: none; }
.navTabs .navTab.PopupClosed { position: relative; }
.navTabs .navTab.PopupClosed .navLink { color: rgb(206, 210, 216); }
.navTabs .navTab.PopupClosed:hover { background-color: rgb(90, 98, 113); }
.navTabs .navTab.PopupClosed .navLink:hover { color: rgb(255, 255, 255); }
.navTabs .navTab.selected .navLink { position: relative; }
.navTabs .navTab.selected .tabLinks { width: 100%; padding: 0px; border: medium none; overflow: hidden; position: absolute; left: 0px; top: 42px; height: 40px; background-position: 0px -40px; }
.navTabs .navTab.selected .blockLinksList { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; padding: 0px; border: medium none; margin-left: 8px; }
.withSearch .navTabs .navTab.selected .blockLinksList { margin-right: 275px; }
.navTabs .navTab.selected .tabLinks li { float: left; padding: 2px 0px; }
.navTabs .navTab.selected .tabLinks a { font-size: 12px; color: rgb(255, 255, 255); display: block; line-height: 34px; }
.navTabs .navTab.selected .tabLinks a:hover, .navTabs .navTab.selected .tabLinks a:focus { text-decoration: none; outline: 0px none; }
@media (max-width: 610px) {
  .Responsive .navTabs { padding-left: 10px; padding-right: 10px; }
  .Responsive .withSearch .navTabs .navTab.selected .blockLinksList { margin-right: 50px; }
}
@media (max-width: 480px) {
  .Responsive.hasJs .navTabs:not(.showAll) .publicTabs .navTab:not(.selected):not(.navigationHiddenTabs) { display: none; }
}
#searchBar { position: relative; z-index: 52; }
#QuickSearchPlaceholder { position: absolute; right: 20px; top: -28px; display: none; border-radius: 5px; cursor: pointer; font-size: 11px; height: 16px; width: 16px; box-sizing: border-box; text-indent: -9999px; background: rgba(0, 0, 0, 0) url("xenforo-ui-sprite.png") no-repeat scroll -144px 0px; overflow: hidden; }
#QuickSearch { display: block; position: absolute; right: 20px; top: -18px; margin: 0px; background-color: rgb(255, 255, 255); border-radius: 5px; padding-top: 5px; z-index: 7500; }
@media (max-width: 610px) {
  .Responsive #QuickSearchPlaceholder { display: block; }
  .Responsive #QuickSearch { display: none; }
}
.pageWidth { padding-right: 5px; padding-left: 5px; margin: 0px auto; min-width: 990px; width: 98%; max-width: 1400px; box-sizing: border-box; }
#content .pageContent { background-color: rgb(255, 255, 255); padding: 2px 12px; }
#content .pageContent {  }
#content .pageContent::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.mainContainer { float: left; margin-right: -310px; width: 100%; }
.mainContent { margin-right: 310px; }
.sidebar { float: right; width: 300px; }
#SignupButton { background-color: rgb(98, 188, 94); margin: 10px 30px; border: 1px solid rgb(77, 167, 73); border-radius: 3px; text-align: center; line-height: 36px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 4px rgba(0, 0, 0, 0.2); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); display: block; cursor: pointer; background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.12) 0%, transparent 100%); height: 36px; }
#SignupButton .inner { font-weight: 700; font-size: 12pt; color: rgb(255, 255, 255); border-radius: 4px; display: block; }
#SignupButton:hover .inner { text-decoration: none; background-color: rgb(113, 202, 109); }
#SignupButton:active { box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset; position: relative; top: 1px; }
@media (max-width: 800px) {
  .Responsive .mainContainer { float: none; margin-right: 0px; width: auto; }
  .Responsive .mainContent { margin-right: 0px; }
  .Responsive .sidebar { float: none; margin: 0px auto; }
}
@media (max-width: 340px) {
  .Responsive .sidebar { width: 100%; }
}
@media (max-width: 800px) {
  .Responsive .pageWidth {  }
  .Responsive #content .pageContent { padding-left: 6px; padding-right: 6px; }
}
@media (max-width: 610px) {
  .Responsive .pageWidth { padding-right: 0px; padding-left: 0px; margin-right: 0px; margin-left: 0px; width: auto; }
}
@media (max-width: 480px) {
  .Responsive .pageWidth { width: auto; }
}
#logo, #logo a { height: 100px; line-height: 100px; display: block; }
#content .pageContent { background: rgb(221, 224, 227) none repeat scroll 0% 0%; }
.breadcrumb a { color: rgb(68, 68, 68); text-shadow: 0px 1px 0px rgb(255, 255, 255); }
.breadcrumb a:hover { color: rgb(34, 34, 34); }
.navTabs .navTab.PopupClosed a.navLink { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4); }
.navTabs .navTab.PopupClosed:hover a.navLink { background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.navTabs .publicTabs .navLink { padding: 0px 20px; }
.navTabs .navTab.selected a.navLink, .navTabs ul.visitorTabs > li.navTab.selected a.navLink { background: rgb(250, 250, 251) linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, transparent 100%) repeat scroll 0% 0%; color: rgb(126, 138, 153); text-shadow: 0px 1px 1px rgb(255, 255, 255); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.8) inset, 1px 0px 0px rgba(0, 0, 0, 0.15), -1px 0px 0px rgba(0, 0, 0, 0.15); padding-bottom: 1px; position: relative; border-radius: 4px 4px 0px 0px; font-weight: 700; }
.navTabs .navTab.selected .tabLinks { background: rgb(250, 250, 251) linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.03) 100%) repeat scroll 0px 0px; border-bottom: 1px solid rgb(206, 210, 216); }
.navTabs .navTab.selected .tabLinks a { color: rgb(126, 138, 153); text-shadow: 0px 1px 0px rgb(255, 255, 255); line-height: 30px; border-radius: 3px; margin-top: 3px; padding: 0px 10px; }
.navTabs .navTab.selected .tabLinks a:hover, .navTabs .navTab.selected .tabLinks a:focus { color: rgb(255, 255, 255); text-shadow: none; background: rgb(126, 138, 153) none repeat scroll 0% 0%; }
.navTabs .navTab.PopupClosed, .navTabs .navTab.PopupClosed:hover { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
.navTabs .navTab.selected .tabLinks { top: 41px; }
#navigation .pageContent { height: 81px; }
.mainProfileColumn, .xenForm, .message { background-color: rgb(255, 255, 255); }
#loginBar .xenForm { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
#forums .node.category.level_1, .discussionList.section.sectionMain, .sidebar .section > .secondaryContent { border: 1px solid rgb(206, 210, 216); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05); border-radius: 4px; }
.sidebar .secondaryContent { border-radius: 4px; }
@media (min-width: 1025px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 480px) {
}
.footerLegal, .footerLegal a, .footerLegal .pairsInline dt, #copyright { color: rgb(255, 255, 255); text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4); }
.withSearch .navTabs .navTab.selected .blockLinksList { margin-right: 8px; }
#QuickSearch { top: -151px; background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
#QuickSearch:not(.active) #QuickSearchQuery { border-color: rgb(255, 255, 255); border-radius: 4px; }
form#login input.button.primary { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4); background: rgb(85, 85, 85) linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, transparent 100%) repeat scroll 0% 0%; border: 0px none; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 3px rgba(0, 0, 0, 0.3); }
form#login input.button.primary:hover { background-color: rgb(102, 102, 102); }
.navTab.account a strong::before, .navTab.inbox a::before, .navTab.alerts a::before, #AccountMenu .menuColumns a::before, .tabLinks a::before, .breadcrumb a.jumpMenuTrigger::before, .nodeIcon::before, .forum_list .sidebar .section h3::before, .node .nodeLastPost .lastThreadTitle span::before, .messageMeta .control::before, .Responsive #QuickSearchPlaceholder::before, body .node .tinyIcon::before, body .footerLinks a.globalFeed::before, .LoggedIn .discussionListItem .unreadLink::before, .LoggedIn .discussionListItem .ReadToggle::before { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: 400; line-height: 0; font-size: 14px; vertical-align: middle; }
.tabLinks a::before { margin: -1px 7px 0px 0px; font-size: 14px; }
.tabLinks a[href*="search/"]::before { content: ""; }
body .footerLinks a.globalFeed, body .node .tinyIcon { background: rgb(238, 136, 34) linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, transparent 100%) repeat scroll 0% 0%; color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2); border-radius: 3px; box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.2) inset, 0px 0px 0px 2px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.1); text-indent: 0px; text-align: center; text-decoration: none; overflow: hidden; }
body .footerLinks a.globalFeed { box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 0px 1px rgba(255, 255, 255, 0.3) inset, 0px 1px 2px rgba(0, 0, 0, 0.15); }
body .footerLinks a.globalFeed::before, body .node .tinyIcon::before { content: ""; display: block; line-height: 17px; font-size: 12px; }
body .footerLinks a.globalFeed::before { font-size: 10px; }
.Responsive #QuickSearchPlaceholder { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; border-radius: 0px; font-size: 14px; text-indent: 0px; text-align: center; }
.Responsive #QuickSearchPlaceholder::before { display: block; height: 16px; line-height: 16px; content: ""; }
.skin_branding { float: left; padding-left: 15px; }
.skin_branding a { float: none; display: inline-block; padding-left: 0px; padding-right: 0px; }
.formPopup { width: 256px; }
.xenForm .submitUnit { padding-top: 5px; }
.footerLinks a.globalFeed { width: 16px; height: 16px; margin: 9px 5px 0px; }
#QuickSearch .formPopup { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; }
.styleChooser .secondaryContent, .navPopup .secondaryContent, .secondaryContent.blockLinksList, #AccountMenu .menuColumns, #jumpMenu .secondaryContent { border: 0px none; }
input[type="submit"], input[type="reset"], label { cursor: pointer; }
@media (max-width: 1010px) {
  .Responsive .pageWidth { min-width: 0px; }
}
@media (max-width: 610px) {
  .Responsive #QuickSearch { top: -25px; right: 15px; }
}
@media (max-width: 480px) {
  .Responsive #logo { height: 80px; line-height: 80px; }
  .Responsive .navTabs { border-radius: 0px; }
  .Responsive .skin_branding { padding-left: 8px; }
  .Responsive .skin_branding span { display: none; }
}
#logoBlock .pageContent { background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , rgb(90, 123, 171), rgb(0, 48, 126)) repeat scroll 0% 0%; }
.navTabs { background-color: rgb(75, 104, 148); border-top-left-radius: 0px; border-top-right-radius: 0px; }
#legal a { color: rgb(49, 77, 124); text-shadow: none; }
#copyright { color: rgb(49, 77, 124); }
#copyright a { text-shadow: none; }
.socialMediaIcon { text-align: center; }
.socialMediaIcon a:hover { opacity: 0.8; }
.socialMediaIcon img { margin-right: 2px; margin-bottom: -3px; }
@media (max-width: 800px) {
}
a.fbLogin, #loginBar a.fbLogin { display: inline-block; width: 180px; height: 22px; box-sizing: border-box; cursor: pointer; background: rgb(41, 68, 126) url("connect_sprite.png") no-repeat scroll 0px -188px; border-radius: 3px; padding: 0px 0px 0px 1px; outline: medium none; text-decoration: none; color: rgb(255, 255, 255); font-weight: 700; font-size: 11px; line-height: 14px; }
a.fbLogin:active, #loginBar a.fbLogin:active { background-position: 0px -210px; }
a.fbLogin:hover, #loginBar a.fbLogin:hover { text-decoration: none; }
a.fbLogin span { background: rgb(95, 120, 171) url("connect_sprite.png") repeat scroll 0% 0%; border-top: 1px solid rgb(135, 154, 192); border-bottom: 1px solid rgb(26, 53, 110); display: block; padding: 2px 4px 3px; margin: 1px 1px 0px 21px; text-shadow: none; white-space: nowrap; overflow: hidden; }
a.fbLogin:active span { border-bottom: 1px solid rgb(41, 68, 126); border-top: 1px solid rgb(69, 97, 157); background: rgb(79, 106, 163) none repeat scroll 0% 0%; text-shadow: none; }
.googleLogin, #loginBar .googleLogin { display: inline-block; width: 180px; height: 22px; box-sizing: border-box; cursor: pointer; background-color: rgb(221, 75, 57); border: 1px solid rgb(190, 62, 46); border-radius: 3px; padding-left: 2px; color: rgb(255, 255, 255); font-weight: 700; font-size: 11px; line-height: 14px; }
.googleLogin span { display: block; background: rgba(0, 0, 0, 0) url("gplus.png") no-repeat scroll 0px 0px; padding: 3px 3px 3px 23px; white-space: nowrap; overflow: hidden; }
.googleLogin:active, #loginBar .googleLogin:active { background-color: rgb(190, 62, 46); }
#loginBar { color: rgb(206, 210, 216); background-color: rgb(32, 35, 40); position: relative; z-index: 1; }
#loginBar .ctrlWrapper { margin: 0px 10px; }
#loginBar .pageContent { padding-top: 0px; position: relative; }
#loginBar a { color: rgb(175, 181, 192); }
#loginBar form { padding: 5px 0px; margin: 0px auto; display: none; line-height: 20px; position: relative; }
#loginBar .xenForm .ctrlUnit, #loginBar .xenForm .ctrlUnit > dt label { margin: 0px; border: medium none; }
#loginBar .xenForm .ctrlUnit > dd { position: relative; }
#loginBar .lostPassword, #loginBar .lostPasswordLogin { font-size: 11px; }
#loginBar .rememberPassword { font-size: 11px; }
#loginBar .textCtrl { color: rgb(250, 250, 251); background-color: rgb(60, 65, 75); border-color: rgb(144, 152, 167); text-shadow: none; }
#loginBar .textCtrl:focus {  }
#loginBar .button { min-width: 85px; }
#loginBar .button.primary { font-weight: 700; }
#loginBar form.eAuth {  }
#loginBar form.eAuth .ctrlWrapper { border-right: 1px dotted rgb(90, 98, 113); margin-right: 200px; box-sizing: border-box; }
#loginBar form.eAuth #eAuthUnit { position: absolute; top: 0px; right: 10px; }
#eAuthUnit li { margin-top: 10px; line-height: 0; }
#loginBar #loginBarHandle { font-size: 11px; color: rgb(250, 250, 251); background-color: rgb(32, 35, 40); padding: 0px 10px; margin-right: 20px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; position: absolute; right: 0px; bottom: -24px; text-align: center; z-index: 1; line-height: 24px; }
@media (max-width: 800px) {
  .Responsive #loginBar form.eAuth .ctrlWrapper { border-right: medium none; margin-right: 10px; }
  .Responsive #loginBar form.eAuth #eAuthUnit { position: static; width: 180px; margin: 0px auto 10px; }
}
@media (max-width: 610px) {
}
@media (max-width: 480px) {
}
@media (max-width: 480px) {
  .Responsive .sidebar .sharePage { display: none; }
}
a.twitterLogin, #loginBar a.twitterLogin { display: inline-block; width: 180px; height: 22px; box-sizing: border-box; cursor: pointer; background-color: rgb(238, 238, 238); background-image: linear-gradient(rgb(255, 255, 255), rgb(222, 222, 222)); border: 1px solid rgb(204, 204, 204); border-radius: 3px; padding: 3px; color: rgb(51, 51, 51) !important; font-weight: 700; font-size: 11px; line-height: 14px; }
a.twitterLogin span { display: block; background: rgba(0, 0, 0, 0) url("twitter-bird.png") no-repeat scroll 0px 0px; padding-left: 22px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); white-space: nowrap; overflow: hidden; }
a.twitterLogin:hover, #loginBar a.twitterLogin:hover, a.twitterLogin:active, #loginBar a.twitterLogin:active { border-color: rgb(217, 217, 217); background-image: linear-gradient(rgb(248, 248, 248), rgb(217, 217, 217)); text-decoration: none; }
