/* Code tidied up by ScrapBook */
.crayon-theme-visual-assist { border-width: 1px !important; border-color: rgb(48, 48, 48) !important; text-shadow: none !important; background: rgb(48, 48, 48) none repeat scroll 0% 0% !important; }
.crayon-theme-visual-assist .crayon-table .crayon-nums { background: rgb(48, 48, 48) none repeat scroll 0% 0% !important; color: rgb(194, 194, 194) !important; border-right: 1px solid rgb(140, 141, 143) !important; }
.crayon-theme-visual-assist .crayon-striped-line { background: rgb(53, 53, 53) none repeat scroll 0% 0% !important; }
.crayon-theme-visual-assist .crayon-striped-num { background: rgb(53, 53, 53) none repeat scroll 0% 0% !important; color: rgb(194, 194, 194) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-c { color: rgb(87, 166, 74) !important; font-style: italic !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-s { color: rgb(214, 157, 133) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-p { color: rgb(155, 155, 139) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-st { color: rgb(32, 176, 218) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-r { color: rgb(244, 187, 21) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-t { color: rgb(244, 187, 21) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-i { color: rgb(220, 220, 220) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-e { color: rgb(255, 128, 0) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-v { color: rgb(189, 183, 107) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-cn { color: rgb(231, 163, 122) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-o { color: rgb(218, 218, 218) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-sy { color: rgb(216, 216, 216) !important; }
.crayon-theme-visual-assist .crayon-pre .crayon-h { color: rgb(0, 111, 224) !important; }
.crayon-theme-visual-assist .crayon-pre { color: rgb(255, 255, 255) !important; }
.crayon-theme-visual-assist { background: rgb(50, 50, 50) none repeat scroll 0% 0% !important; }
