/* Effective stylesheet produced by snapshot save */
body { background-color: rgb(204, 227, 243); background-image: url("bg_blue.gif"); background-repeat: repeat-x; }
.headerbar { background-image: url("header_blue.png"); }
.headerbg { background-color: rgb(3, 41, 66); background-image: url("headerbg_blue.gif"); }
