/* Effective stylesheet produced by snapshot save */
a { direction: ltr; unicode-bidi: embed; text-decoration: none; display: inline-block; }
.skiplink { position: absolute; left: -999px; width: 990px; }
a.anchor { display: block; }
