/* Effective stylesheet produced by snapshot save */
@keyframes fade-in {
  100% { opacity: 1; }
}
@keyframes fade-in {
  100% { opacity: 1; }
}
@keyframes fade-in {
  100% { opacity: 1; }
}
@keyframes fade-in {
  100% { opacity: 1; }
}
@keyframes fade-in {
  100% { opacity: 1; }
}
.porvata-outstream.porvata3::before { content: attr(data-label); display: block; font-size: 0.625rem; font-weight: 700; line-height: 0.75rem; margin: 0px; padding-bottom: 6px; padding-top: 6px; text-align: center; text-transform: uppercase; }
.gpt-ad { text-align: center; }
.gpt-ad.hide, .gpt-ad .hide { display: none !important; }
.ad-slot { margin: 0px 0px 1.125rem; text-align: center; }
.ad-slot.hide { display: none !important; }
.ad-slot-wrapper.top-boxad.ic-ad-slot-placeholder { align-items: center; display: flex; justify-content: center; min-height: 250px; }
.ad-slot-wrapper.top-boxad.ic-ad-slot-placeholder.loading { animation: 2s ease 0s normal none infinite running is-loading; border-radius: 20px; }
.article-content .ad-slot-wrapper { display: flex; justify-content: center; align-items: center; }
.article-content .ad-slot-wrapper .ad-slot.incontent-boxad:not(.a9-ad), .article-content p + .ad-slot.incontent-boxad:not(.a9-ad) { margin: 3rem -1.5rem; }
.article-content .ad-slot.incontent-boxad:not(.a9-ad) { margin: 0.75rem -1.5rem 3rem; }
@keyframes fade-in {
  100% { opacity: 1; }
}
