/* Effective stylesheet produced by snapshot save */
._5r69 { max-width: initial; }
._5r69 ._5pco span.text_exposed_link { padding-bottom: 1em; }
._5pcm { border-left: 2px solid rgb(204, 204, 204); padding-left: 10px; }
._3x-2 ._5r69._1hvl { border-bottom: 1px solid rgb(229, 229, 229); padding-bottom: 12px; }
._3x-2 ._5r69._1hvl ._5pcm ._5pco p:last-of-type { margin-bottom: 0px; }
._5pco { font-size: 12px; }
._5pco { color: rgb(102, 102, 102); }
._5pco .text_exposed_link { display: block; padding: 4px 0px 0px; }
._5pcp { position: relative; }
._5pcp a, ._5pcp button.as_link, ._5pcp .uiLinkButton input, ._5pcp .uiLinkButton input:hover { color: rgb(66, 103, 178); }
._5pcp, ._5pcq a, a._5pcq, ._5pcp .fbPrivacyAudienceIndicator .audienceIcon { color: rgb(153, 153, 153); }
a._1t9o:not(:hover) { text-decoration: line-through; }
._5pcp { color: rgb(64, 128, 255); }
._5v3q ._5pcp, ._5v3q ._5pcp a.uiLinkSubtle, ._5v3q ._5ptz, ._5v3q a._5pcq { color: rgb(144, 148, 156); }
._5v3q ._5pcp._2jyu, ._5v3q ._5pcp._2jyu a.uiLinkSubtle, ._5v3q ._2jyu ._5ptz, ._5v3q ._2jyu a._5pcq, ._5v3q ._2jyu ._5pcq a { color: rgb(97, 103, 112); }
._5pcp._5lel { font-size: 12px; }
