/* Code tidied up by ScrapBook */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; font-weight: inherit; font-style: inherit; font-family: inherit; font-size: 100%; vertical-align: baseline; }
body { line-height: 1; color: rgb(0, 0, 0); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
ol, ul { list-style: outside none none; }
a img { border: medium none; }
@font-face {
  font-family: "covered_by_your_graceregular";
  font-style: normal;
  font-weight: normal;
  src: url("coveredbyyourgrace-webfont.eot") format("embedded-opentype"), url("coveredbyyourgrace-webfont.svg") format("svg"), url("coveredbyyourgrace-webfont.woff") format("woff"), url("coveredbyyourgrace-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("fontawesome-webfont.eot") format("embedded-opentype"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
@font-face {
  font-family: "fontdiao";
  font-style: normal;
  font-weight: normal;
  src: url("fontdiao.eot") format("embedded-opentype"), url("fontdiao.svg") format("svg"), url("fontdiao.woff") format("woff"), url("fontdiao.ttf") format("truetype");
}
* {  }
body { background: rgb(221, 221, 221) none repeat scroll 0% 0%; font-family: "Helvetica Neue","Helvetica","Microsoft YaHei","WenQuanYi Micro Hei",Arial,sans-serif; font-size: 100%; color: rgb(129, 124, 124); line-height: 1.5; min-height: 100vh; display: flex; -moz-box-orient: vertical; flex-direction: column; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; padding-left: 0.3em; }
a { text-decoration: none; color: rgb(129, 124, 124); }
a:hover, a:focus { outline: 0px none; text-decoration: none; transition: color 0.25s ease 0s, background 0.5s ease 0s; }
a:hover::before { transition: color 0.25s ease 0s, background 0.5s ease 0s; }
input:focus { outline: medium none; }
input, button { margin: 0px; padding: 0px; }
input::-moz-focus-inner, button::-moz-focus-inner { border: 0px none; padding: 0px; }
h1 { font-size: 1.5em; }
.clearfix {  }
.clearfix::before, .clearfix::after { content: ""; display: table; }
.clearfix::after { clear: both; }
*::-moz-placeholder { color: rgb(255, 255, 255); padding: 2px 0px 0px 4px; }
.animated { animation-fill-mode: both; animation-duration: 1s; }
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; filter: none; }
}
@keyframes fadeInDown {
0% { opacity: 0; transform: translateY(-20px); }
100% { opacity: 1; filter: none; transform: translateY(0px); }
}
@keyframes fadeInDown {
0% { opacity: 0; transform: translateY(-20px); }
100% { opacity: 1; filter: none; transform: translateY(0px); }
}
@keyframes fadeInDown {
0% { opacity: 0; transform: translateY(-20px); }
100% { opacity: 1; filter: none; transform: translateY(0px); }
}
body > header { width: 100%; box-shadow: 2px 4px 5px rgba(3, 3, 3, 0.2); background: rgb(234, 103, 83) url("_.html") repeat scroll center center; color: rgb(255, 255, 255); padding: 1em 0px 0.8em; }
@media only screen and (min-width: 1024px) {
  body > header { padding: 1.8em 0px 1.5em; }
}
body > header > div { width: 95%; margin: 0px auto; position: relative; overflow: hidden; }
@media only screen and (min-width: 1024px) {
  body > header > div { width: 93%; }
}
body > header a { display: block; color: rgb(255, 255, 255); }
#imglogo { float: left; width: 4em; height: 4em; }
@media only screen and (min-width: 768px) {
  #imglogo { width: 5em; }
}
@media only screen and (min-width: 1024px) {
  #imglogo { width: 5.5em; }
}
#imglogo img { width: 4em; }
@media only screen and (min-width: 768px) {
  #imglogo img { width: 5em; }
}
@media only screen and (min-width: 1024px) {
  #imglogo img { width: 5.5em; }
}
#textlogo { float: left; width: 75%; margin-left: 0.5em; }
#textlogo h1.site-name { width: 86%; font-family: "covered_by_your_graceregular"; font-size: 200%; line-height: 1.5; }
@media only screen and (min-width: 768px) {
  #textlogo h1.site-name { font-size: 240%; }
}
@media only screen and (min-width: 1024px) {
  #textlogo h1.site-name { font-size: 280%; }
}
#textlogo h2.blog-motto { font-size: 0.7em; font-weight: normal; }
@media only screen and (min-width: 768px) {
  #textlogo h2.blog-motto { font-size: 100%; }
}
@media only screen and (min-width: 1024px) {
  #textlogo h2.blog-motto { font-size: 110%; }
}
.navbar { position: absolute; width: 2em; right: 0em; top: 1em; padding: 0.5em; }
@media only screen and (min-width: 1024px) {
  .navbar { display: none; }
}
.navbutton::before { font-family: "FontAwesome"; content: ""; }
.navmobile::before { padding-left: 1em; }
header nav { float: left; width: 100%; font-size: 112.5%; padding-top: 0.5em; max-height: 0.01em; transition: max-height 1s ease-out 0s; }
@media only screen and (min-width: 568px) {
  header nav { width: 50%; }
}
@media only screen and (min-width: 1024px) {
  header nav { float: right; width: auto; margin-top: 1em; max-height: none; }
}
@media only screen and (min-width: 1024px) {
  header nav ul { float: right; }
}
@media only screen and (min-width: 1024px) {
  header nav ul li { float: left; }
}
header nav ul li a { padding: 0.2em 0px 0.2em 1em; }
@media only screen and (min-width: 1024px) {
  header nav ul li a { padding: 0.2em 1.5em; }
}
header nav ul li a:hover { background: rgb(221, 44, 17) none repeat scroll 0% 0%; color: rgb(233, 205, 76); }
.search { padding: 0.1em 0px 0px 1em; }
.search input { -moz-appearance: textfield; font-size: 0.87em; line-height: 1.7; border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); background: transparent none repeat scroll 0% 0%; width: 80%; padding-left: 0.5em; }
@media only screen and (min-width: 1024px) {
  .search input { width: 8em; transition: width 0.5s ease 0s; }
  .search input:focus { width: 15em; }
}
.search label { display: none; }
#container { flex: 1 1 0%; width: 95%; margin: 0px auto; overflow: hidden; }
@media only screen and (min-width: 768px) {
  #container { width: 96%; }
}
@media only screen and (min-width: 1024px) {
  #container { width: 94%; }
}
@media only screen and (min-width: 1560px) {
  #container { width: 82%; }
}
#main { margin: 1em 0px 0px; line-height: 1.8; }
@media only screen and (min-width: 1024px) {
  #main { margin: 2em 0px 0px; width: 75%; float: left; transition: margin 0.5s ease-out 0s; }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (max-width: 568px) {
}
@media only screen and (min-width: 568px) {
}
@media only screen and (min-width: 768px) {
}
.post, .page, .link, .photo { background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.post a, .page a, .link a, .photo a { color: rgb(44, 166, 203); }
.post a:hover, .page a:hover, .link a:hover, .photo a:hover { color: rgb(234, 103, 83); }
@media only screen and (min-width: 768px) {
  article header.article-info { border-bottom: 1px solid rgb(219, 219, 219); }
}
article header.article-info > h1 { padding: 0.2em 3%; font-size: 170%; line-height: 1.5; overflow-wrap: break-word; word-break: normal; border-left: 5px solid rgb(234, 103, 83); }
@media only screen and (min-width: 1024px) {
  article header.article-info > h1 { font-size: 200%; padding-top: 0.3em; }
}
article header.article-info > p.article-author { padding: 0.3em 4% 0.3em 0px; text-align: right; border-bottom: 1px solid rgb(219, 219, 219); }
@media only screen and (min-width: 768px) {
  article header.article-info > p.article-author { float: right; border-bottom: medium none; }
}
article header.article-info > p.article-time { padding-top: 0.5em; font-size: 0.8em; text-align: center; margin-bottom: -2.7em; }
@media only screen and (min-width: 768px) {
  article header.article-info > p.article-time { float: right; margin-right: 1em; padding-top: 0.1em; font-size: 0.9em; }
}
article header.article-info > p.article-time::before { font-family: "FontAwesome"; font-size: 130%; content: ""; }
article .article-content { padding: 1.5em 4%; color: rgb(65, 63, 63); font-size: 100%; }
article .article-content::before, article .article-content::after { content: ""; display: block; clear: both; }
article .article-content h1, article .article-content h2 { font-size: 180%; line-height: 1.2em; padding-bottom: 0.3em; margin-top: 1.5em; border-bottom: 2px solid rgb(219, 219, 219); }
article .article-content h3 { font-size: 140%; line-height: 1em; margin-top: 1.3em; }
article .article-content h4, article .article-content h5, article .article-content h6 { font-size: 140%; }
article .article-content h1, article .article-content h2, article .article-content h3, article .article-content h4, article .article-content h5, article .article-content h6 { color: rgb(51, 51, 51); }
article .article-content strong { font-weight: bold; }
article .article-content blockquote { border-left: 0.2em solid rgb(234, 103, 83); margin: 0.65em 0px 0.65em 1%; padding-left: 1%; line-height: 1.5; font-size: 100%; color: rgb(128, 128, 128); }
article .article-content ul, article .article-content ol { padding-left: 1.5em; font-size: 100%; padding-top: 0.7em; }
@media only screen and (min-width: 768px) {
  article .article-content ul, article .article-content ol { padding-left: 1.5em; }
}
article .article-content ul li { list-style: outside none disc; text-align: match-parent; }
article .article-content ol li { list-style-type: decimal; }
article .article-content p { line-height: 1.5; margin-top: 0.7em; }
@media only screen and (min-width: 1024px) {
  article .article-content p { margin-top: 1em; }
}
@media only screen and (min-width: 1024px) {
}
footer.article-footer { background: rgb(250, 250, 250) none repeat scroll 0% 0%; padding: 0px 4%; margin: 0px; border-top: 1px solid rgb(219, 219, 219); }
.article-share { float: right; width: 100%; }
@media only screen and (min-width: 568px) {
  .article-share { width: 60%; }
}
@media only screen and (min-width: 768px) {
  .article-share { width: 16.5em; }
}
.share span { float: right; height: 3em; width: 1em; margin-right: 0.5em; position: relative; color: rgb(214, 214, 214); }
.share span::before { font-family: "FontAwesome"; content: ""; font-size: 1em; width: 1.5em; height: 1.5em; position: absolute; top: 50%; left: 50%; margin-top: -0.75em; margin-left: -0.75em; }
.share a { float: right; width: 3em; height: 3em; display: block; position: relative; }
.share a::before { font-size: 1.2em; font-family: "FontAwesome"; text-align: center; color: rgb(129, 124, 124); width: 1.5em; height: 1.5em; position: absolute; top: 50%; left: 50%; margin-top: -0.75em; margin-left: -0.75em; }
.share a:hover::before { color: rgb(255, 255, 255); }
.article-share-twitter::before { content: ""; }
.article-share-twitter:hover { background: rgb(0, 172, 237) none repeat scroll 0% 0%; text-shadow: 0px 1px rgb(0, 138, 190); }
.article-share-facebook::before { content: ""; }
.article-share-facebook:hover { background: rgb(59, 89, 152) none repeat scroll 0% 0%; text-shadow: 0px 1px rgb(47, 71, 122); }
.article-share-weibo::before { content: ""; }
.article-share-weibo:hover { background: rgb(198, 77, 62) none repeat scroll 0% 0%; text-shadow: 0px 1px rgb(161, 60, 47); }
.article-share-qrcode::before { font-family: "fontdiao" !important; content: ""; }
.article-share-qrcode:hover { background: rgb(73, 174, 15) none repeat scroll 0% 0%; text-shadow: 0px 1px rgb(58, 139, 12); }
.article-share-renren::before { content: ""; }
.article-share-renren:hover { background: rgb(51, 102, 153) none repeat scroll 0% 0%; text-shadow: 0px 1px rgb(41, 82, 122); }
.hoverqrcode { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 3px solid rgb(44, 166, 203); border-radius: 10px; display: inline-block; position: absolute; }
.overlay { display: none !important; }
@media only screen and (max-width: 568px) {
}
.article-tags, .article-categories { padding: 0.5em 0px; float: left; }
@media only screen and (max-width: 568px) {
  .article-tags, .article-categories { margin-right: 1em !important; }
}
.article-tags { color: rgb(214, 214, 214); }
@media only screen and (max-width: 568px) {
  .article-tags { margin-left: 0px; }
}
.article-tags span { position: relative; float: left; width: 1em; height: 2em; margin-right: 0.5em; }
.article-tags span::before { font-family: "FontAwesome"; width: 1.2em; height: 1.2em; position: absolute; top: 50%; left: 50%; margin-top: -0.6em; margin-left: -0.6em; content: ""; }
.article-tags a { float: left; padding: 0px 0.3em; margin: 0.3em; background: rgb(230, 230, 230) none repeat scroll 0% 0%; }
.article-tags a:hover { color: rgb(255, 255, 255); background: rgb(44, 166, 203) none repeat scroll 0% 0%; }
.article-categories { color: rgb(214, 214, 214); margin-top: 0.3em; margin-right: 3em; }
.article-categories span::before { font-family: "FontAwesome"; content: ""; }
.article-category-link { padding: 0.5em; margin: 0px 0.3em; }
.article-category-link:hover { color: rgb(255, 255, 255) !important; background: rgb(44, 166, 203) none repeat scroll 0% 0%; }
.article-nav { padding: 0px 10%; }
@media only screen and (min-width: 768px) {
  .article-nav { padding: 0px 4%; }
}
.article-nav strong { font-size: 1em; font-weight: bold; }
.article-nav a { display: block; overflow: hidden; }
.article-nav .prev a:hover, .article-nav .next a:hover { background: rgb(44, 166, 203) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.article-nav .prev { width: 100%; float: left; }
.article-nav .prev strong { padding-left: 1.8em; }
.article-nav .prev span::before { font-family: "FontAwesome"; content: ""; padding-right: 0.5em; }
@media only screen and (min-width: 768px) {
  .article-nav .prev { width: 45%; float: left; }
}
@media only screen and (min-width: 768px) {
}
.toc-article { background: rgb(238, 238, 238) none repeat scroll 0% 0%; margin: 1.6em 0px 0px 2em; padding: 1em; border-radius: 4px; border: 1px solid rgb(221, 221, 221); }
.toc-article strong { padding: 0.3em 0px; }
.toc-article ol li { list-style-type: decimal; margin: 0.5em 0px; }
#toc { line-height: 1.3em; font-size: 0.8em; float: right; }
#toc .toc { padding: 0px; }
#toc .toc li { list-style-type: none; }
#toc .toc-child { padding-left: 1.5em; padding-top: 0px; }
#toc.toc-aside { display: none; width: 13%; position: fixed; right: 2%; top: 320px; overflow: hidden; line-height: 1.5em; font-size: 1em; color: rgb(51, 51, 51); opacity: 0.6; transition: opacity 1s ease-out 0s; }
#toc.toc-aside strong { padding: 0.3em 0px; color: rgb(129, 124, 124); }
#toc.toc-aside:hover { transition: opacity 0.3s ease-out 0s; opacity: 1; filter: none; }
#toc.toc-aside a { transition: color 1s ease-out 0s; }
#toc.toc-aside a:hover { color: rgb(234, 103, 83); transition: color 0.3s ease-out 0s; }
.openaside { display: none; position: fixed; right: 7.5%; top: 260px; }
.openaside a { display: block; color: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); border-radius: 5px; background: rgb(234, 103, 83) none repeat scroll 0% 0%; padding: 0.2em 0.55em; }
.openaside a::before { font-family: "FontAwesome"; content: ""; }
.closeaside { display: none; }
.closeaside a { color: rgb(234, 103, 83); }
.closeaside a:hover { color: rgb(44, 166, 203); }
.closeaside a::before { font-family: "FontAwesome"; content: ""; }
@media only screen and (min-width: 1024px) {
  .closeaside { display: block; position: absolute; right: 25px; top: 22px; }
}
#asidepart { background: rgb(250, 250, 250) none repeat scroll 0% 0%; margin: 1em 0px 0px; padding: 0.5em 2% 1em; }
@media only screen and (min-width: 1024px) {
  #asidepart { position: relative; float: left; width: 18%; margin: 2em 0px 0px 3%; }
}
.asidetitle { font-size: 1.1em; color: rgb(44, 166, 203); padding: 0px 0px 0.3125em; border-bottom: 0.1875em solid rgb(204, 204, 204); }
@media only screen and (min-width: 768px) {
  .categorieslist { width: 45%; float: left; margin: 0px 5% 0px 0px; }
}
@media only screen and (min-width: 1024px) {
  .categorieslist { width: 100%; float: none; margin: 1em 0px 0px; }
}
.categorieslist li { border-bottom: 1px solid rgb(204, 204, 204); }
.categorieslist li a { display: block; padding: 0.5em 5%; }
.categorieslist li a:hover { color: rgb(234, 103, 83); }
.tagslist { margin: 1em 0px 0px; }
@media only screen and (min-width: 768px) {
  .tagslist { width: 45%; float: left; margin: 0px 5% 0px 0px; }
}
@media only screen and (min-width: 1024px) {
  .tagslist { width: 100%; float: none; margin: 1em 0px 0px; }
}
.tagslist ul { padding: 0.5em 0px; }
.tagslist ul li { float: left; }
.tagslist ul li a { display: block; margin: 0.3125em; padding: 0.125em 0.3125em; background: rgb(219, 219, 219) none repeat scroll 0% 0%; }
.tagslist ul li a:hover { color: rgb(234, 103, 83); background: rgb(230, 230, 230) none repeat scroll 0% 0%; }
.rsspart { background: rgb(234, 103, 83) none repeat scroll 0% 0%; width: 100%; }
@media only screen and (min-width: 768px) {
  .rsspart { float: left; width: 45%; margin: 0px 5% 0px 0px; }
}
@media only screen and (min-width: 1024px) {
  .rsspart { width: 100%; float: none; margin: 1em 0px 0px; }
}
.rsspart a { color: rgb(255, 255, 255); display: block; padding: 0.625em 0px; text-align: center; }
.rsspart a:hover { color: rgb(234, 103, 83); background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.rsspart a::before { font-family: "FontAwesome"; padding-right: 0.5em; content: ""; }
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
.linkslist { margin-top: 0.5em; }
@media only screen and (min-width: 768px) {
  .linkslist { width: 45%; float: left; margin: 0px 5% 0px 0px; }
}
@media only screen and (min-width: 1024px) {
  .linkslist { width: 100%; float: none; margin: 1em 0px 0px; }
}
.linkslist ul { padding: 0.5em 0px; }
.linkslist ul a { font-size: 1em; line-height: 1.5; display: block; padding: 0px 3%; }
.linkslist ul a:hover { color: rgb(234, 103, 83); transition: color 0.25s ease 0s; }
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
footer { margin-top: 1em; background: rgb(31, 31, 31) none repeat scroll 0% 0%; padding: 0px 2% 0.5em; }
#footer { width: 95%; margin: 0px auto; overflow: hidden; position: relative; }
#footer .line { width: 100%; height: 14em; margin: 0px auto; }
@media only screen and (min-width: 768px) {
  #footer .line { width: 10em; float: left; position: relative; }
}
#footer .line span { display: block; width: 0.5em; height: 6.25em; border-right: 0.125em solid rgb(255, 255, 255); margin: 0px auto; }
@media only screen and (min-width: 768px) {
  #footer .line span { position: absolute; left: 3em; margin: 0px 0px 1.5em; }
}
.author { width: 6.875em; height: 6.875em; margin: 0px auto; background: rgba(0, 0, 0, 0) url("author.jpg") no-repeat scroll left top / 6.875em 6.875em; border-radius: 3.4375em; transition: transform 2s ease-out 0s; }
.author:hover { transform: rotateZ(360deg); }
@media only screen and (min-width: 768px) {
  .author { position: absolute; top: 6em; margin: 0px 0px 1.5em; }
}
.info { font-family: "covered_by_your_graceregular"; font-size: 150%; line-height: 1.3em; width: 90%; margin: 0px auto; color: rgb(255, 255, 255); }
@media only screen and (min-width: 768px) {
  .info { margin: 4.5em 0px 2em; float: left; width: 75%; }
}
.social-font { width: 100%; margin: 0px auto; float: left; padding-left: 3%; }
@media only screen and (min-width: 568px) {
  .social-font { padding-left: 20%; }
}
@media only screen and (min-width: 768px) {
  .social-font { width: 15em; position: absolute; right: -2em; top: 3em; }
}
.social-font a { float: left; display: block; width: 14%; color: rgb(255, 255, 255); font-size: 185%; padding: 0.5em; }
@media only screen and (min-width: 1024px) {
  .social-font a { padding: 0.3em; }
}
.social-font a:hover::before { color: rgb(44, 166, 203); }
.icon-weibo::before, .icon-github::before, .icon-twitter::before, .icon-facebook::before, .icon-stack-overflow::before, .icon-email::before, .icon-google_plus::before, .icon-linkedin::before { font-family: "FontAwesome"; }
.icon-github::before { content: ""; }
.icon-twitter::before { content: ""; }
.icon-facebook::before { content: ""; }
.icon-email::before { content: ""; }
.icon-linkedin::before { content: ""; }
.copyright { font-family: "covered_by_your_graceregular"; width: 100%; color: rgb(255, 255, 255); text-align: center; }
@media only screen and (min-width: 768px) {
  .copyright { float: left; }
}
.copyright a { color: rgb(44, 166, 203); }
.copyright a:hover { color: rgb(44, 166, 203); text-decoration: underline; }
.article-content pre, .article-content .highlight, .article-content .highlight pre { background: rgb(238, 238, 238) none repeat scroll 0% 0%; margin: 0.5em 0px; padding: 0.5em 2%; color: rgb(77, 77, 76); line-height: 1.5; font-size: 0.8em; border-radius: 0.35em; overflow-wrap: break-word; }
@media only screen and (min-width: 568px) {
  .article-content pre, .article-content .highlight, .article-content .highlight pre { font-size: 0.9em; }
}
@media only screen and (min-width: 568px) {
}
.article-content pre { font-family: Monaco,Menlo,Consolas,Courier New,monospace; }
@media only screen and (min-width: 568px) {
}
#totop { position: fixed; bottom: 5em; right: 1em; cursor: pointer; }
@media only screen and (max-width: 1024px) {
  #totop { display: none !important; }
}
