/* Code tidied up by ScrapBook */
body { background-color: rgb(238, 238, 238); color: rgb(0, 0, 0); border: 40px solid rgb(238, 238, 238); margin: 0px; padding: 0px 10px; font-family: "liberation sans","Myriad ","Bitstream Vera Sans","Lucida Grande","Luxi Sans","Trebuchet MS",helvetica,verdana,arial,sans-serif; line-height: 1.2em; }
@media (max-width: 5in), (max-device-width: 5in) {
  body { border: 0px none; padding: 0px; }
}
body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part { margin-top: 0px; padding: 2em 6em 6em; }
body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part { padding: 2em; }
body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part, body > div.index { background-color: rgb(255, 255, 255); margin: 40px auto 4em; padding: 1px 40px 20px 30px; }
@media (max-width: 1024px) {
  body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part, body > div.index { max-width: 45em; }
}
@media (min-width: 1025px) {
  body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part, body > div.index { max-width: 70em; }
}
@media (max-width: 5in), (max-device-width: 5in) {
  body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part, body > div.index { max-width: 100%; }
}
hr { border-top: 1px dotted rgb(128, 128, 128); margin: 0px; }
a:link { color: rgb(0, 53, 199); text-decoration: none; }
a:visited { color: rgb(0, 32, 122); text-decoration: none; }
a:link:hover { color: rgb(0, 32, 122); text-decoration: underline; }
code { font-family: "liberation mono","bitstream vera mono","dejavu mono",monospace; font-weight: bold; overflow-wrap: break-word; }
h1 { color: rgb(199, 0, 54); line-height: 1.1em; }
h2, h3, h4, h5, h6 { color: rgb(199, 0, 54); }
@media (max-width: 5in), (max-device-width: 5in) {
  dl, dt, dd { margin-left: 0.25em; }
  ul, ol { padding-left: 1.5em; }
}
.titlepage h1.title { text-align: left; }
@media (max-width: 5in), (max-device-width: 5in) {
  .toc dl, .toc dt, .toc dd { margin-top: 0.5em; margin-bottom: 0.5em; }
}
pre.screen { tab-size: 4; background-color: rgb(245, 245, 245); border-radius: 11px; border-style: none; box-shadow: 0px 2px 5px rgb(170, 170, 170) inset; color: rgb(0, 0, 0); display: block; font-family: "liberation mono","bitstream vera mono","dejavu mono",monospace; font-size: 0.9em; margin-bottom: 1em; padding: 0.5em 1em; page-break-inside: avoid; white-space: pre-wrap; overflow-wrap: break-word; }
.navheader a, .navfooter a { opacity: 0.5; transition: opacity 0.15s ease-in-out 0s; }
.navheader a:hover, .navfooter a:hover { opacity: 1; }
.navheader, .navfooter { background-image: url("draft.png"); background-repeat: no-repeat; background-position: left top; }
.navheader > table { background-image: url("draft.png"); }
.navfooter > table { background-image: url("draft.png"); }
@media (max-width: 5in), (max-device-width: 5in) {
  .navfooter > table { font-size: 0px; }
}
@media (max-width: 5in), (max-device-width: 5in) {
}
