/* Effective stylesheet produced by snapshot save */
@font-face {
  font-family: "Calluna";
  font-style: normal;
  font-weight: 400;
  src: url("Calluna-Regular-webfont.eot#iefix") format("embedded-opentype"), url("Calluna-Regular-webfont.woff") format("woff"), url("Calluna-Regular-webfont_ttf") format("truetype"), url("Calluna-Regular-webfont.svg#_.regular") format("svg");
}
@font-face {
  font-family: "Calluna";
  font-style: normal;
  font-weight: 700;
  src: url("Calluna-Black-webfont.eot#iefix") format("embedded-opentype"), url("Calluna-Black-webfont.woff") format("woff"), url("Calluna-Black-webfont_ttf") format("truetype"), url("Calluna-Black-webfont.svg#CallunaBlckRegular") format("svg");
}
@font-face {
  font-family: "Calluna";
  font-style: italic;
  font-weight: 400;
  src: url("Calluna-It-webfont.eot#iefix") format("embedded-opentype"), url("Calluna-It-webfont.woff") format("woff"), url("Calluna-It-webfont_ttf") format("truetype"), url("Calluna-It-webfont.svg#_.regular") format("svg");
}
@font-face {
  font-family: "Calluna";
  font-style: italic;
  font-weight: 700;
  src: url("Calluna-BoldIt-webfont.eot#iefix") format("embedded-opentype"), url("Calluna-BoldIt-webfont.woff") format("woff"), url("Calluna-BoldIt-webfont_ttf") format("truetype"), url("Calluna-BoldIt-webfont.svg#_.regular") format("svg");
}
@font-face {
  font-family: "Fairwater";
  font-style: normal;
  font-weight: 400;
  src: url("fairwater_script_regular-webfont_woff2") format("woff2"), url("fairwater_script_regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: url("sourcecodepro-regular-webfont_woff2") format("woff2"), url("sourcecodepro-regular-webfont.woff") format("woff");
}
.npf-link-block .poster::before { background: rgb(0, 0, 0) none repeat scroll 0% 0%; content: ""; display: block; height: 100%; opacity: 0.33; position: absolute; width: 100%; }
