/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Inconsolata";
  src: url("Inconsolata.ttf") format("truetype");
}
a { color: rgb(0, 102, 170); text-decoration: none; }
a:hover { color: rgb(0, 155, 119); border-bottom: 1px solid rgb(0, 155, 119); }
p { margin: 0px 0px 1em; }
body { font-size: 12px; font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",Georgia,tahoma,arial,simsun,"宋体"; color: rgb(51, 51, 51); background: rgb(255, 255, 255) none repeat scroll 0% 0%; line-height: 160%; height: 100%; margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6 { font-weight: 500; font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",Georgia,tahoma,arial,simsun,"宋体"; color: rgb(51, 51, 51); line-height: 1; margin: 1.4em 0px 0.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
#page { width: 945px; margin: 0px auto; padding: 0px; }
.header { width: 100%; height: 30px; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(204, 204, 204); margin: 0px; padding: 0px 0px 20px; }
#header-main { width: 960px; height: 100px; margin: 0px; }
#headerlogo { background-color: rgb(255, 255, 255); color: rgb(204, 204, 204); float: left; font-size: 22px; line-height: 50px; margin: 0px; padding: 0px; text-align: left; }
#headerlogo a { color: rgb(51, 51, 51); text-decoration: none; }
#headerlogo a:hover { color: rgb(0, 155, 119); border-bottom: 3px solid rgb(0, 155, 119); }
#headermenu { font-size: 12px; }
#headermenu ul { float: right; line-height: 50px; margin: 0px; padding: 0px; text-align: right; }
#headermenu li { font-size: 12px; display: inline; float: right; margin: 0px 0px 0px 20px; padding: 0px; }
#headermenu li a { color: rgb(0, 0, 0); }
#headermenu li a:hover { color: rgb(0, 155, 119); border-bottom: 3px solid rgb(0, 155, 119); }
#content { width: 620px; float: left; padding: 0px; }
#sidebar { width: 280px; float: right; }
#footer { clear: both; padding-top: 20px; text-align: center; margin: 20px auto; }
#content pre.code { line-height: 100%; overflow: hidden; width: 100%; border-width: 0px 0px 0px 0.4em; border-style: solid; border-color: rgb(201, 209, 215); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(241, 245, 249); padding: 10px; font-family: "Inconsolata",sans-serif; white-space: pre-wrap; overflow-wrap: break-word; }
.posttitle { font-size: 160%; margin-top: 0px; margin-bottom: 0.5em; }
.posttitle a { color: rgb(0, 0, 0); text-decoration: none; }
.posttitle a:hover { color: rgb(0, 155, 119); }
.postdate { color: rgb(102, 102, 102); font-size: 100%; line-height: 1.6em; margin-bottom: 2em; }
.postdate span { font-size: 84%; }
.postmeta { color: rgb(102, 102, 102); font-size: 100%; margin: 0px 0px 1.5em; }
.post { font-size: 13px; line-height: 160%; border-bottom: 1px solid rgb(204, 204, 204); padding-bottom: 0.5em; margin-bottom: 3em; }
.entry { font-size: 100%; line-height: 24px; }
.entry p {  }
#sidebar h3 { color: rgb(102, 102, 102); }
#sidebar a { text-decoration: none; }
#sidebar ul { margin: 0px; padding: 0px; }
#sidebar ul li { list-style-type: none; margin-bottom: 10px; padding: 0px; }
#interact { width: 99%; font-size: 14px; }
#interact h3 { font-size: 14px; color: rgb(51, 51, 51); }
h3#comments, h3#respond { padding-top: 1em; }
#interact ul, #interact ol { margin-left: 0px; padding-left: 3em; }
.commentlist li { margin-bottom: 2em; }
.commentlist li p { margin-top: 0px; margin-bottom: 1em; font-size: 13px; }
.commentmetadata { color: rgb(153, 153, 153); font-size: 12px; margin: 0px 0px 5px; }
.commentmetadata span { color: rgb(0, 0, 0); font-size: 12px; font-weight: 700; }
#commentform textarea#comment { width: 100%; }
#searchform { width: 100%; height: 20px; padding: 0px 0px 20px; }
input.querytext { width: 100%; height: 20px; color: rgb(204, 204, 204); border: 2px solid rgb(187, 187, 187); margin: 10px 0px; }
.postdate a, input.querytext:focus { color: rgb(102, 102, 102); }
