/* Code tidied up by ScrapBook */
:root { --woocommerce:#a46497; --wc-green:#7ad03a; --wc-red:#a00; --wc-orange:#ffba00; --wc-blue:#2ea2cc; --wc-primary:#a46497; --wc-primary-text:white; --wc-secondary:#ebe9eb; --wc-secondary-text:#515151; --wc-highlight:#77a464; --wc-highligh-text:white; --wc-content-bg:#fff; --wc-subtext:#767676; }
@media screen and (min-width: 673px) {
}
@media screen and (min-width: 1040px) {
}
@media screen and (min-width: 1110px) {
}
@media screen and (min-width: 1218px) {
}
@media screen and (min-width: 38.75em) {
}
@media screen and (min-width: 59.6875em) {
}
@media screen and (min-width: 44.375em) {
}
@media screen and (min-width: 56.875em) {
}
